@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-480px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-480px);
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes pulse {
    0%   {
        background: white;
    }

    50% {
        background: #efefef;
    }
    
    100% {
        background: white;
    }
}

