.icon-close:before {
  content: "\e904";
}
.icon-remove:before {
  content: "\e904";
}
.icon-times:before {
  content: "\e904";
}
.icon-bars:before {
  content: "\e905";
}
.icon-navicon:before {
  content: "\e905";
}
.icon-reorder:before {
  content: "\e905";
}
.icon-avatar:before {
  content: "\e902";
}
.icon-feather:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
