.c-article {
    line-height: 1.5;
    
    p {
        margin-bottom: 2em;
    }
    
    &--columns {
        @media screen and ( min-width: $smartphone + 1px ) {
            column-count: 2;
            column-gap: 40px;
        }
    }
    
    &--half {
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            width: 50%;
        }        
    }
}