.c-lead {
    @extend %abs;
    @extend %flex;
    @extend %flex-space-between;
    @extend %flex-y;
    width: 100%;
    padding: get-vw-base(60) get-vw-base(80);
    text-transform: uppercase;
    font: {
        family: $cervo-medium;
        size: rem(18);
    }
    letter-spacing: 2px;
    line-height: 1;
    
    
    
    @media screen and ( min-width: $base + 1px ) {
        width: 1200px;
        padding: 60px 80px;
    }
    
    @media screen and ( max-width: $tablet + px ) {
        padding: {
            left: 50px;
            right: 50px;
        }
    }
    
    @media screen and ( max-width: $smartphone + px ) {
        font-size: rem(14);
        letter-spacing: 1px;
    }
    
    &__line {
        @extend %rel;
        flex: 1;
        height: 1;
        width: calc(100% - 20px); height: 1px;
        margin: 0 10px 4px 10px;
        background-color: white;
        
        &:after {
            @extend %abs;
            @extend %abs-after;
            
        }
    }
}
