.c-logo {
    &__full {
        width: 160px;
        height: 150px;
        margin-bottom: 55px;
        
        @media screen and ( max-width: $tablet + px ) {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
    
    &__single {
        width: 50px;
        margin: 0 auto 45px auto;
    }
}
