.c-logo {
    &__full {
        width: 160px;
        height: 150px;
        margin-bottom: 55px;
        
        .menu-hidden & {
           // display: none;
        }
    }
    
    &__single {
        width: 50px;
        margin: 0 auto 45px auto;
        
        .menu-hidden & {
            //display: block;
            //animation: fadeInFromNone 1s forwards;
        }
    }
}
