.c-page {
    @extend %anim;
    background-color: white;
    padding-bottom: 40px;
    transform: translateX(100px);
    opacity: 0;
    
    .pace-done & {
		opacity: 1;
		transform: translateX(0);
	}
	
    @media screen and ( min-width: $tablet + 1px ) {
        flex: 1;
        width: grid(1200);
        height: 100%;
    }
    
    @media screen and ( min-width: $base + 1px ) {
        width: 1200px;
        
    
       // width: calc(100% - 480px);
       // padding-left: 480px;
        //transform: translateX(480px);
    }
    
    
    @media screen and ( max-width: $project + px ) {
        //width: get-vw-project($project - 480);
    }
    
    
    @media screen and ( max-width: 1360px ) {
        .menu-hidden & {
            //width: calc(100% - 160px);
        }
    }
    
    
}
