.c-shops {
    @extend %flex;
    @extend %flex-wrap;
    
    &__col {
        width: 40%;
        padding: 0 get-vw-base(20);
        
        @media screen and ( min-width: $base + 1px ) {
            padding: 0 20px;
        }
        
        @media screen and ( max-width: 1600px ) {
            width: 100%;
        }              

        &--narrow {
            @media screen and ( min-width: 1601px ) {
                width: 20%;
            }
        }
        
        .c-address {
            & > div {
                @extend %flex;
                @extend %flex-wrap;
            }
            
            address {
                
                padding: 0 20px;
                
                @media screen and ( min-width: 1601px ) {
                    width: 50%;
                }
                
                p {
                    white-space: nowrap;
                }
            }
            
            .o-header {
                padding: 0 20px;
            }
        }        
    }
    
    &__more {
        padding-top: 30px;
        text-align: center;

        .o-btn {
            display: inline-flex;
            letter-spacing: normal;
            padding: {
                left: 70px;
                right: 70px;
            }
        }
    }
        
    .links {
        padding: 0 20px;
        
        @media screen and ( max-width: 1600px ) {
            display: flex;
            flex-wrap: wrap;
        }
    
        li {
            margin-bottom: 10px;
            
            @media screen and ( max-width: 1600px ) {
                padding-right: 20px;
            }
        }

        a {
            font-family: $boston-bold;
            
            &:hover {
                color: $c-blue2;
            }
        }
    }
}
