.c-top {
    @extend %rel;
    margin-bottom: get-vw-project(90);
    color: white;
    
    @media screen and ( max-width: $tablet + px ) {
        margin-bottom: 60px;
    }
    
    img {
        @extend %rel;
    }
    
    @media screen and ( min-width: $base + 1px ) {
        margin-bottom: 90px;
    }
    
    &__header {
        @extend %abs;
        left: get-vw-base(80);
        bottom: get-vw-base(60);
        line-height: 1;
        text-transform: uppercase;
        font: {
            family: $cervo-medium;
            size: get-vw-base(115);
        }

        @media screen and ( min-width: $base + 1px ) {
            left: 80px; bottom: 60px;
            font-size: 115px;
        }
        
        @media screen and ( max-width: $tablet + px ) {
            left: 50px;
        }
    }
    
    @media screen and ( min-width: $project + 1px ) {
        height: 728px;
        overflow: hidden;

        img {
            position: absolute;
            left: 50%; top: 0;
            transform: translateX(-50%);
            width: 100%; height: auto;
        }
    }
    
    .menu-hidden & {
        @media screen and ( min-width: $project - 320 + 1px ) {
            height: 728px;
            overflow: hidden;
    
            img {
                position: absolute;
                left: 50%; top: 0;
                transform: translateX(-50%);
                width: 100%; height: auto;
            }
        }
    }
    
}


